body {
    /* display: flex; 
    flex-direction: column; */
    text-align: center;
}

#wrapper {
    padding: 0; 
    display: flex;
    flex-direction: column;
}

#wrapper > * {
    margin: 1em auto; 
}

#input {
    width: 300px; 
}

#mainurl {
    /* text-decoration: none; */
    color: #aaa;
    font-size: 18px;
    /* position: fixed; */
    /* top: 100%;  */
    /* bottom: 0;  */
    /* left: 0;  */
    /* text-align: center; */

}