@font-face {
    font-family: 'Fira Code';
    src: url("../lib/Fira_Code/FiraCode-VariableFont_wght.ttf");
}

:root {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    --color1: #c0c0c0;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 2em;  */
    position: relative;
    top: 4em;
    margin: 2em 1em;
    max-width: 585px; 
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin: 1em 1em; 
    text-align: center;
}

h2 {
    font-size: 21px;
    /* margin: 1em 1em .3em 0em; */
    margin: 1em .3em;
    text-align: center;
}

h3 {
    margin: .3em 1em;
    text-align: center;
}

h4 {
    text-align: center;
    margin: .5em auto 0;
}

p {
    margin: .3em 1em;
    font-size: 15px;
    line-height: 24px;
    /* text-align: justify; */
}

/* #main img {
    margin: 0 auto; 
    text-align: center;
    width: 50%;
    height: 50%; 
} */

#imgmbk {
    width: 160px;
    height: auto;
    margin: 0 0 1em 10vw;
    border: 3px solid var(--color1);
    /* left: 20vw; */
}


#navbar {
    position: fixed;
    font-size: 18px;
    font-weight: 400;
    padding: .5em;
    width: 100vw;
    z-index: 69;
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    justify-content: space-evenly;
    flex-wrap: wrap;

    background-color: var(--color1);
}

@media screen and (max-width: 585px) {
    #navbar {
        flex-direction: column;
        justify-content: center;

    }

    .dropdown {
        /* max-width: 390px; */
        align-self: center;
    }

    /* #dropdown-menu {
        left: calc( 25vw/2 );
    } */
}

.link {
    padding: .5em 1.5em;
    background: none;
    border: none;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    /* background-color: lightsalmon; */
}

.dropdown.active > .link, .link:hover {
    font-weight: 700;
}

.dropdown {
    position: relative;
    text-align: center;
    /* background-color: lightsalmon */
}

.dropdown-menu {
    position: absolute;
    background-color: var(--color1);
    padding: .5em 1.5em;
    left: -60px;
    min-width: 220px;
    top: calc( 100% + .5rem );
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 5px 5px 0 #aaac;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu div {
    /* padding: .5em 0; */
    margin: 0 0 15px 0;
}

.dropdown-menu > div:hover {
    cursor: pointer;
    font-weight: 700;
}

/* .content {
    opacity: 0;
    transition: opacity 160ms ease-in-out;
} */

.content-element {
    display: none;
    margin: 0 auto;
}

#main {
    opacity: 1;
    display: flex;
}

#projects {
    /* opacity: 0; */
    display: none;
}

#about {
    /* opacity: 0; */
    display: none;
}

.contact {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* #projects > div > p {
    min-width: 280px;
} */

.external {
    font-size: 18px;
    text-align: center;
    margin: .3em 1em;
}

.external:first-of-type {
    font-size: 24px;
}

.external:last-of-type {
    margin-bottom: 1em;
}

.project-container {
    display: flex;
    flex-direction: column;
    min-width: 360px;
    max-width: 585px;
    /* flex-direction: row; */
}

.project-tech {
    text-align: center;
    margin-bottom: 1.2em;
}

.top {
    flex: 7 1 0;
    /* width: 60%; */
    /* background-color: lightgreen; */
}

.bottom {
    flex: 4 1 0;
    /* width: 40%; */
    /* background-color: lightsalmon; */
    display: flex;
    flex-direction: row;
}

.sampleimageContainer {
    aspect-ratio: 1 / 1;
    width: 90%;
    /* padding: 4px; */
    margin: .5em .5em;
    /* background-color: aqua; */
    border: 2px solid var(--color1);
    border-radius: 5px;
    transition: width 160ms;
    cursor: pointer;
}

.sampleimageContainer:hover {
    width: 94%;
}


#imageoverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 96;
    background-color: rgba( 0 0 0 / .75);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#sampleimage {
    max-width: 75%;
    max-height: 75%;
}

#closetext {
    color: #fff;
    margin-top: 1em;
    font-weight: 500;
}

#photografy-sample1 {
    background-image: url( '../img/photografy/feed.JPG' );
    background-repeat: no-repeat;
    background-size: cover;
}

#photografy-sample2 {
    background-image: url( '../img/photografy/account.JPG' );
    background-repeat: no-repeat;
    background-size: 200%;
}

#photografy-sample3 {
    background-image: url( '../img/photografy/upload.JPG' );
    background-repeat: no-repeat;
    background-size: 175%;
}

#photografy-sample4 {
    background-image: url( '../img/photografy/menu.JPG' );
    background-repeat: no-repeat;
    background-position: right 0px top 0px;
    background-size: 225%;
}

#eo-sample1 {
    background-image: url( '../img/eo/eo1.JPG' );
    background-repeat: no-repeat;
    background-size: 100%;
}

#eo-sample2 {
    background-image: url( '../img/eo/eo2.JPG' );
    background-repeat: no-repeat;
    background-position: left 47% bottom 0px;
    background-size: 150%;
}

#gct-sample1 {
    background-image: url( '../img/gct/gct1.JPG' );
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right 0px top 22px;
}

#gct-sample2 {
    background-image: url( '../img/gct/gct2.JPG' );
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right 0px top 20px;
}

address {
    margin-bottom: 1em;
}